<div class="container mt-4">
  <div class="row">
    <div class="col-6 offset-5 mt-2">
      <Strong>SignUp Page</Strong>
    </div>
  </div>
  <form [formGroup]="registerForm" (ngSubmit)="postData()">
    <div class="mb-3 row">
      <div class="col-6">
        <label for="firstName" class="col-sm-2 col-form-label"
          >First Name</label
        >
        <div class="col-sm-10">
          <input
            type="text"
            class="form-control"
            id="fName"
            formControlName="firstName"
          />
        </div>
      </div>
      <div class="col-6">
        <label for="lastName" class="col-sm-2 col-form-label">Last Name</label>
        <div class="col-sm-10">
          <input
            type="text"
            class="form-control"
            id="lName"
            formControlName="lastName"
          />
        </div>
      </div>
    </div>

    <div class="mb-3 row">
      <div class="col-6">
        <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
          <input
            type="email"
            class="form-control"
            id="staticEmail"
            value=""
            formControlName="emailAddress"
          />
        </div>
      </div>
      <div class="col-6">
        <label for="staticEmail" class="col-sm-2 col-form-label">Address</label>
        <div class="col-sm-10">
          <input
            type="text"
            class="form-control"
            id="staticEmail"
            value=""
            formControlName="Address"
          />
        </div>
      </div>
    </div>

    <div class="mb-3 row">
      <div class="col-6">
        <label for="phoneNumber" class="col-sm-2 col-form-label"
          >Mobile No.</label
        >
        <div class="col-sm-10">
          <input
            type="tel"
            class="form-control"
            id="mobileNo"
            formControlName="phoneNo"
          />
        </div>
      </div>

      <div class="col-6">
        <label for="phoneNumber " class="col-sm-2 col-form-label">Pincode</label>
        <div class="col-sm-10">
          <input
            type="tel" 
            class="form-control"
            id="mobileNo"
            formControlName="pincode"
          />
        </div>
      </div>
    </div>
    <div class="mb-3 row">
      <div class="col-6">

        <label for="inputPassword" class="col-sm-2 col-form-label"
        >Password</label
        >
        <div class="col-sm-10">
          <input
          type="password"
          class="form-control"
          id="inputPassword"
          formControlName="password"
          />
        </div>
      </div>
      <div class="col-6">
        <label for="inputPassword" class="col-form-label"
        >Confirm Password</label
        >
        <div class="col-sm-10">
          <input
          type="password"
          class="form-control"
          id="inputPassword"
          formControlName="confirmPassword"
          />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6 offset-5">
        <button type="submit" class="btn mb-2" [disabled]="!registerForm.valid">Sign Up</button>
      </div>
    </div>
  </form>
</div>
