.navBar{
   background-color: #708090;
 
}
/* style for Name of website */

.container-fluid a{
    color: rgb(245, 245, 245);
    font-size: 40px;
}

.container-fluid a strong{
    color:rgb(236, 5, 186);
}


/* Styles for all the navLinks */
.navLinks {
    color: rgb(26, 224, 52);
    font-style: italic;
    font-size: medium;
}

/* style for Login button */
#login {
    border: none;
    background: none;
}
